<div class="uk-section-primary tm-section-texture">

  <app-navigation class="uk-navbar-transparent"></app-navigation>

  <div class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center" uk-height-viewport="offset-top: true; offset-bottom: true">
      <div class="uk-width-1-1">
          <div class="uk-container">

              <span uk-icon="icon: code; ratio: 7;"></span>

              <p class="uk-margin-medium uk-text-lead">
                  The simply beautiful front-end integration<br class="uk-visible@s">
                  for developing fast and powerful web interfaces.
              </p>

              <div class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center" uk-grid>
                  <div>
                      <a class="uk-button uk-button-primary uk-button-large uk-visible@s" href="./docs">Get Started</a>
                      <a class="uk-button uk-button-primary uk-hidden@s" href="./docs">Get Started</a>
                  </div>
                  <div>
                      <a class="uk-button uk-button-default uk-button-large uk-visible@s" href="https://github.com/whoisjorge/angular-uikit">Github</a>
                      <a class="uk-button uk-button-default uk-hidden@s" href="https://github.com/whoisjorge/angular-uikit">Github</a>
                  </div>
              </div>

          </div>
      </div>
  </div>

  <div class="uk-section-small">
      <div class="uk-container uk-container-expand uk-text-center uk-position-relative">

          <ul class="uk-subnav uk-flex-inline uk-flex-center uk-margin-remove-bottom" uk-margin>
              <li>
                  <span>Version <span uikit-version></span>-Beta</span>
              </li>
              <li>
                  <a href="https://github.com/whoisjorge/angular-uikit/stargazers"><span class="uk-margin-small-right" uk-icon="icon: star;"></span><span uikit-stargazers>0</span> Stars</a>
              </li>
              <li>
                  <a class="uk-text-lowercase" href="https://github.com/whoisjorge"><span class="uk-margin-small-right" uk-icon="icon: github"></span>whoisjorge</a>
              </li>
          </ul>

          <a class="uk-button uk-button-default uk-position-center-right uk-position-medium uk-visible@m" href="https://getuikit.com" target="_blank">GetUIkit.com <span uk-icon="icon: arrow-right"></span></a>
          <a class="uk-button uk-button-default uk-position-center-left uk-position-medium uk-visible@m" href="https://angular.io" target="_blank"><span uk-icon="icon: arrow-left"></span> Angular.io</a>
      </div>
  </div>

</div>
