<div class="uk-section-primary tm-section-texture">

  <app-navigation class="uk-navbar-transparent"></app-navigation>

  <div class="uk-section uk-flex uk-flex-middle uk-text-center" uk-height-viewport="offset-top: true">
      <div class="uk-width-1-1">
          <div class="uk-container">

            <span uk-icon="icon: heart; ratio: 6;"></span>


              <h1>Thanks for giving it a try.</h1>

              <p class="uk-margin-medium-bottom uk-text-large">Every support on this open source project is highly appeciated!</p>

              <div class="uk-grid-medium uk-child-width-auto uk-flex-inline" uk-grid>
                  <div>
                      <a class="uk-button uk-button-primary tm-button-primary uk-button-large" routerLink="/">
                          <span class="uk-margin-small-right" uk-icon="icon: arrow-left"></span>
                          <span class="uk-text-middle">Back to home</span>
                      </a>
                  </div>
                  <div>
                      <a class="uk-button uk-button-primary tm-button-primary uk-button-large" href="https://github.com/whoisjorge/angular-uikit" target="_blank">
                          <span class="uk-margin-small-right" uk-icon="icon: github"></span>
                          <span class="uk-text-middle">Fork on GitHub</span>
                      </a>
                  </div>
              </div>

          </div>
      </div>
  </div>

</div>
