<header class="uk-navbar-container uk-sticky uk-sticky-fixed"
        uk-sticky="media: 960;
                   show-on-up: true;
                   animation: uk-animation-slide-top;
                   top: 400">

        <div class="uk-container uk-container-expand">
          <nav uk-navbar>

            <div class="uk-navbar-left">
              <a href="/" class="uk-navbar-item uk-logo">
                <img class="uk-margin-small-right" alt="Angular" src="assets/images/logos/angular.svg"> <span style="margin: 0 .5rem">+</span>
                <img class="uk-margin-small-left uk-margin-small-right" alt="UIkit" src="assets/images/logos/uikit.svg"> UIkit
              </a>
            </div>


            <div class="uk-navbar-right">
              <ul class="uk-navbar-nav uk-visible@m">
                <li>
                  <a routerLink="/" routerLinkActive="uk-active">Homepage</a>
                </li>
                <li>
                  <a routerLink="/test" routerLinkActive="uk-active">test spa page</a>
                </li>
                <li>
                  <a routerLink="/whatever">404 spa</a>
                </li>
              </ul>
              <div class="uk-navbar-item uk-visible@m">
                <a routerLink="/download" routerLinkActive="uk-active" class="uk-button uk-button-default uk-icon" uk-icon="icon: download">
                  Download
                </a>
              </div>




              <a href="#offcanvas" uk-toggle uk-navbar-toggle-icon
                 class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon"></a>

                </div>




    </nav>
  </div>
</header>
